<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>74c5fd83f02ec395a85eadd2c7bfa4c3</string>
	<key>detailSize</key>
	<string>{500, 480}</string>
	<key>images</key>
	<dict>
		<key>%pepuJcfTbmYDKwv3PTfwg</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:57Z</date>
		</dict>
		<key>0%a1SL++Tjq63JNwwennkw</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:54Z</date>
		</dict>
		<key>6w4ve6g3QfGyQydR2UrKFQ</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:54Z</date>
		</dict>
		<key>7mA+asZ%RHC15cabU9u6Ug</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:55Z</date>
		</dict>
		<key>9YTi0AHlRvaiDJfdRn0VFQ</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:55Z</date>
		</dict>
		<key>JRsxeF+dSQqzxaiFd6E5TA</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:55Z</date>
		</dict>
		<key>R3VaanpVTYmfxRbUsRujuA</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:55Z</date>
		</dict>
		<key>Tn5txofOQEmEghD5qIkJlg</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:55Z</date>
		</dict>
		<key>UA3SZtZfQtm3TvW7HPF9Yw</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:54Z</date>
		</dict>
		<key>ZE6FG2wRSVOID%TvkCSCPg</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:55Z</date>
		</dict>
		<key>aZwCLV6LTP6h5XwT8SmBdA</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:55Z</date>
		</dict>
		<key>ikL2%xMNTcSrIjfU1ijLYQ</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:55Z</date>
		</dict>
		<key>k+EbBa7+Sza77Pn6bJq4IQ</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:55Z</date>
		</dict>
		<key>le+UqFRoSpub0mxR8qYw4w</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:55Z</date>
		</dict>
		<key>qJSYiyIcQS+nJJB0gq3FsA</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:55Z</date>
		</dict>
		<key>u3JpzSieTSCkwDQHfxvLfQ</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2016-07-03T08:43:55Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>9febe6c7f42ea4b8908768ced100bcdf</string>
	<key>thumbSize</key>
	<string>{250, 150}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
